body {
  background: #000;
  text-align: center;
}

input {
  margin-top: 35px;
  font-size: 16px;
  line-height: 1.5;
	padding: 10px 20px;
	outline: none;
	border: none;
	color: #1abc9c;
	min-width: 320px;
	background-color: black;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 1px 1px 1px 1px #1abc9c;
    border-radius: 5px;
}

button {
  margin-top: 35px;
  font-size: 16px;
  line-height: 1.5;
    padding: 10px 20px;
	outline: none;
	border: none;
	cursor: pointer;
	color: #1abc9c;
	min-width: 200px;
	background-color: black;
	box-shadow: 2px 2px 2px 2px #1abc9c;
    border-radius: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

p {
    margin-top: 380px;
  font-size: 16px;
  line-height: 1.5;
	padding: 10px 20px;
	outline: none;
	border: none;
	color: #1abc9c;
	background-color: black;
    border-radius: 20px;
}

.title {
    font-family: sans-serif;
    font-weight: 500;
  font-size: 19px;
  line-height: 1.5;
	outline: none;
	border: none;
	color: #1abc9c;
	background-color: black;
    margin-left: 50px;
    margin-right: 50px;
}